<p> </p>
<div>
  Top page for ordering
</div>
<p> </p>
<div class="row">
  <div class="col">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/"><strong>All Categories</strong></a>
        </li>
        <li class="list-group-item">
          <a href="/">Instant Food</a>
        </li>
        <li class="list-group-item">
          <a href="/">Snacks</a>
        </li>
        <li class="list-group-item">
          <a href="/">Drinks</a>
        </li>
        <li class="list-group-item">
          <a href="/">Kimchi, Refrigerated Foods</a>
        </li>
        <li class="list-group-item">
          <a href="/">Seaweed</a>
        </li>
        <li class="list-group-item">
          <a href="/">Rice, Grain, Powder</a>
        </li>
        <li class="list-group-item">
          <a href="/">Seasonings</a>
        </li>
        <li class="list-group-item">
          <a href="/">Meat, Seafood, Produce</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card-columns">
    {{# each items }}
      <div class="card text-center" >
        <div class="card-body">
          {{!-- src="images/ramen.jpg" --}}
          <img class="card-img-top" src={{ this.pic }} alt="  Card image cap">
          {{!-- innerhtml = Shin Ramyun Noodle Soup   4.2oz(120g) 4 Packs --}}
          <h5 class="card-title">{{ this.name }}</h5>
          {{!-- innerhtml = $5.00 --}}
          <p class="card-text">{{ this.price }}</p>
          <a href="/add-to-cart/{{ this._id }}" class="btn btn-outline-dark">Add to cart</a>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>